Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Jinja2==3.1.4
SQLAlchemy==2.0.32
WTForms==3.3.0
python-dotenv==1.0.1
openai==1.43.0
google-generativeai==0.8.3
gunicorn==22.0.0

